@use '../base/' as *;
$breakpoints: (
  large: 900px,
);

// ### Primary
$clr-primary-dark-blue: hsl(240, 38%, 20%);
$clr-grayish-blue: hsl(240, 18%, 77%);

// Fonts  Weights: 300, 500, 700
$ff-primary-inter: 'Inter', sans-serif;
$fw-light: 300;
$fw-medium: 500;
$fw-bold: 700;
